<!DOCTYPE html>
<html lang="en">
	<head>
		<title>[page title goes here]</title>

		<!-- include partials/meta.html -->
	</head>
	<body class="home">
		<!-- include partials/header.html -->

		<div>
		{{content | safe}}
		</div>

		<div>
		{% if img %}
		{{img | safe}}
		{% endif %}
		</div>

		<div>
		{{output}}
		</div>

		<header>
			<a href=#" class="logo"><img src="#" alt="logo" /></a>
			<ul class="util">
				<li><a href="#">texthere</a></li>
				<li><a href="#">texthere</a></li>
				<li><a href="#">texthere</a></li>
				<li><a href="#">texthere</a></li>
				<li><a href="#">texthere</a></li>
				<li><a href="#">texthere</a></li>
			</ul>
			<nav>
				<ul>
					<li><a href="#">texthere</a></li>
					<li><a href="#">texthere</a></li>
					<li><a href="#">texthere</a></li>
					<li><a href="#">texthere</a></li>
					<li><a href="#">texthere</a></li>
					<li><a href="#">texthere</a></li>
					<li><a href="#">texthere</a></li>
				</ul>
			</nav>
		</header>

		<main>
			<section class="hero">
				<h1>
					<span class="plans-top">Total plans</span>
					<span class="plans-center">with</span>
					<span class="plans-bottom">no hidden feed</span>
				</h1>

				<a href="#" class="button">this text</a>

			</section>

			<section id="dataTable">

			</section>

			<section id="storeFinder">

			</section>
		</main>

		<footer>

		</footer>



		<!-- include partials/footer.html -->
		<!-- include partials/scripts.html -->
	</body>
</html>
